/* Reset and Globals */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden; /* hide scrollbars, cuts off vertical */
    height: 100vh; /*Body takes all space*/
    
    /* Background stuff  */
    background-image: url('assets/img/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background */
    background-color: #210f0c; /* the background colour behind the image */
    
    /* Layout the content in the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* No scrollbars */
}

/* Typography */
h1 {
    font-size: 10rem;
    font-weight: bold;
    color: #eee;
}

h2 {
    font-size: 3.5rem;
    color: #ddd;
}

/* Greeting Container*/
.greeting {
    
    /*  Size  */
    height: 100%;
    width: 60%;
    
    /* Layout the content in the center */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*    overflow: hidden;  No scrollbars */
}

/* Navbar Styles */
nav {
    background-color: rgba(255, 255, 255, 0.9);  
    height: 10rem;
    padding: 0 2rem;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.75) 100%);
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

/*AppBar*/
appbar {
    justify-content: space-evenly;
    height: 15rem;
    padding: 0 0;
    background: linear-gradient(to bottom, rgba(50, 50, 50, 0.95) 0%, rgba(50, 50, 50, 0.75) 100%);
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

/* Common Bar Styles */
nav, appbar {
    display: flex; 
    align-items: center; 
    width: 95%;              /* Reduced to 95% for a margin effect */
    margin: 2% auto;         /* Top and bottom margin for hover effect and centered horizontally */
    border-radius: 2rem;     /* Rounded edges */
    position: relative;
    overflow: hidden;
}

/* Logo in navbar */
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centers the logo */
}

.logo img {
    width: auto; /* Example width - you can adjust as needed */
    height: 3rem; /* Maintain the aspect ratio */
    display: block; /* To remove any default vertical spacing */
}

nav button {
    border: none;
    font-size: 1rem;
}

/* Hidden styles */
.hidden-visibility {
    visibility: hidden;
}

.hidden-display {
    display: none;
}


/* Shine Buttons */
.shine-button {
    position: relative;
    overflow: hidden; /* Hide the overflowing parts of pseudo-element */
    padding: 4rem 4rem;
    background-color: #888; /* Any color of your choice */
    background-size: 80%; /* Cover the button */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    border: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.8); /* Shadow for depth */
    transition: background-color 0.3s; /* Smooth transition */
}

.shine-button:hover {
    background-color: #777; /* Darkened background on hover */
}

.shine-button::before {
    content: ""; /* Empty content for the pseudo-element */
    position: absolute;
    top: -50%; /* Start from above the button */
    left: -50%; /* Start from the left side */
    width: 200%; /* Double the width */
    height: 200%; /* Double the height */
    background: rgba(255, 255, 255, 0.4); /* White with some opacity for shine */
    transform: rotate(30deg); /* Diagonal shine */
    pointer-events: none; /* Ensures the shine doesn't interfere with clicks */
    transition: transform 0.5s, opacity 0.5s; /* Smooth transition */
    opacity: 0; /* Hide by default */
    transform-origin: 50% 50%; /* Ensure the rotation is from the center */
}

.shine-button:hover::before {
    opacity: 1; /* Show on hover */
    transform: rotate(30deg) translateX(200%); /* Move to the right on hover */
}
