* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo img {
  width: auto;
  height: 20px;
}

.buttons {
  display: flex;
}

button {
  background-color: #3A4B6D;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: linear-gradient(to right, #3A4B6D 20%, #4D4D4D 60%, #509E2F 20%);
  background-size: 600% 600%;
  animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
  opacity: 0;
}

h2 {
  font-size: 2rem;
  color: #ffffff;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 2s forwards;
}

.fly-up {
  animation: flyUp 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flyUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}