body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* No scrollbars */
    overflow-y: hidden; /* hide scrollbars, cuts off vertical */
    height: 100vh; /*Body takes all space*/
    
    /* Background stuff  */
    background-image: url('assets/img/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background */
    background-color: #210f0c; /* the background colour behind the image */
}

/* Dark theme styles */
body[data-theme="dark"] {
    background-color: #333;
    color: #f0f0f0;
    --icon-color: #f0f0f0;  /* Update the icon color for dark theme */
}

body[data-theme="black"] {
    background-color: #000;
    color: #f0f0f0;
    --icon-color: #f0f0f0;  /* Update the icon color for black theme */
}


/* Hidden styles */
.hidden-visibility {
    visibility: hidden;
}

.hidden-display {
    display: none;
}


.control-buttons {
    font-size: 4vw;
    padding: 1vw;
    border: none;
    background-color: none;
    background: none;
    color: var(--icon-color); /* Use the CSS variable for color */
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

clock {
    font-size: 10rem;
    text-align: center;
    margin: 0;
}