/* Default light theme styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    --icon-color: #333;  /* Set a default icon color */
}

.toggle-dark-mode, .toggle-sound {
    color: var(--icon-color); /* Use the CSS variable for color */
}

/* Dark theme styles */
body[data-theme="dark"] {
    background-color: #333;
    color: #f0f0f0;
    --icon-color: #f0f0f0;  /* Update the icon color for dark theme */
}

body[data-theme="black"] {
    background-color: #000;
    color: #f0f0f0;
    --icon-color: #f0f0f0;  /* Update the icon color for black theme */
}

.toggle-dark-mode {
    font-size: 4vw;
    padding: 1vw;
    border: none;
    border-radius: 2vw;
    background-color: none;
    background: transparent;
}

.toggle-sound {
    font-size: 4vw;
    padding: 1vw;
    border: none;
    border-radius: 2vw;
    background-color: none;
    background: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* 100% of the viewport height */
    /*  No more scrollbars  */
    overflow: hidden;
}

.title {
    font-size: 5vw; /* Adjust the font size as needed */
    text-align: center;
    width: 100%;
}

.jokes {
    font-size: 3vw; /* Adjust the font size as needed */
    text-align: center;
    width: 80%;
    opacity: 0.2;
}

.prompt {
    font-size: 4vw;
    text-align: center;
    width: 80%;
}

.hidden-visibility {
    visibility: hidden;
}

.hidden-display {
    display: none;
}

.debt-amount {
    font-size: 10vw;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.debt-amount #counter-pounds {
    display: inline-block;
}
*/

.debt-amount #counter-decimal {
    font-size: 2vw;
}

.year-buttons button {
    margin: 1vw;
    padding: 2vw 4vw;
    font-size: 3vw;
    cursor: pointer;
    border: none;
    background-color: #c5c5c5;
    color: #000;
    border-radius: 1vw;
    transition: background-color 0.2s;
}

.year-buttons button:hover {
    background-color: #e6e6e6;
}
